/services/.vs/PushFive/v16/Server/sqlite3/db.lock
/services/.vs/PushFive/config/applicationhost.config
/services/.vs/PushFive/DesignTimeBuild/.dtbcache
/services/.vs/PushFive/v16/.suo
/services/.vs/PushFive/v16/Server/sqlite3/storage.ide
/services/.vs/PushFive/v16/Server/sqlite3/storage.ide-shm
/services/.vs/PushFive/v16/Server/sqlite3/storage.ide-wal
